.footerImg {
  border: "1px solid #eaeaec";
  width: "60px";
}

/* ======================Address========================== */
#addressInner {
  display: "flex";
  gap: "25px";
  width: "70%";
  margin: "auto";
}
