.detailsDiv {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  padding: 20px;
}
.selectDivWishlist {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.pricedWishlist{
    display: flex;
    gap: 10px;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}