.mainContainer {
  width: 70%;
  height: auto;
  display: flex;

  margin: auto;
  margin-bottom: 15px;
}
.ImageContainer {
  width: 55%;

  margin-right: 5%;
  padding: 30px;
  gap: 30px;
}
.ImgDiv{
    width: 100%;
}
.selectDiv{
  display: flex;
  gap: 20px;
}
.quantityDiv{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;

}
.quantityDiv>div{
  display: flex;
  gap: 10px;
}

@media (max-width: 680px) {
    .mainContainer{
        display: grid;
        width: 90%;
    }
    .ImageContainer{
        width: 100%;
        margin: auto auto;
        padding: 0;
    }
    
  }