.container {
  border: 1px solid #cccc;
  width: 100%;
  height: auto;
  position: relative;
}
.close_button {
  border: 1px solid white;
  background-color: white;
  font-size: 0.5rem;
  padding: 0.15rem 0.55rem;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
