::-webkit-scrollbar {
    display: none;
  }

.NavMenu{
    position: absolute;
    height: 300px;
    width: 400px;
    top: 60px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
}
.item:hover{
    background-color: aliceblue;
     
}
.item{
    display: flex;
    align-items: center;
    width: 100%;

}
.NoData{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerItem{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 5px;
}
.innerItem:hover{
    background-color: aliceblue;

}